html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-width: 320px;
	min-height: 100vh;
}
a {
	outline-color: transparent!important;
}
a,
a:hover,
a:focus {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.site-main {
	position: relative;
	z-index: 0;
	padding-top: 80px;
	min-height: calc(100vh - 150px);
}
.menu-is-open.site-main,
.menu-is-open.site-main + .site-footer {
	display: none;
}
.brand-menu-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.brand-logo {
	-ms-flex-preferred-size: 190px;
	    flex-basis: 190px;
	max-width: 190px;
}
.no-posts-block  p, .no-posts-block  li {
	font-size: 20px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}
/* variables */
:root {
	--black: #202C39;
	--white: white;
	--gray: #9DA0A4;
	--lightGray: #F7F9FC;
	--turquoise: #19BACC;
	--orange: #C9903A;
	--green: #4ACE95;
	--debbie: #19BACC;
	--elasticMove: 0.3, 0.5, 0.5, 1.5;
	--elasticMove2: .22,.68,0,1.71;
	--lightMove: 0.3, 0, 0.5, 1.5;
	--rockMove: 0.3, -0.5, 0.5, 1.5;
}
.site-header {
	position: absolute;
	top: 0;
	right: auto;
	left: auto;
	z-index: 1;
	width: 100%;
	background-color: white;	
	-webkit-transition: padding .3s;	
	transition: padding .3s;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E8E8E8;
}
.is-fixed.site-header {	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
.menu	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.site-footer {
	width: 100%;
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 100px;
}
.site-footer .mdgLogo1,
.site-footer .mdgLogo2,
.site-footer .mdgLogo3 {fill: #a5a7a9;}
.menu-button:not(.is-closed) {
	position: fixed;
	top: 0;
	right: 0;
}
.menu-button:not(.is-closed) span {
	background-color: var(--debbie);
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg) scale(1.2);
	        transform: translateY(10px) rotate(45deg) scale(1.2)
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(2) {
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg) 
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(3) {
	-webkit-transform: translateY(-10px) rotate(-45deg) scale(1.2);
	        transform: translateY(-10px) rotate(-45deg) scale(1.2)
}
.menu-nav {
	width: 100%;
	background-color: transparent;
	-ms-flex-preferred-size: calc(100% - 190px);
	    flex-basis: calc(100% - 190px);
	max-width: calc(100% - 190px);
}
.menu-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 60px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.menu-nav ul li {
	padding-left: 10px;
	padding-right: 10px;
}
.menu-nav ul li a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
	text-transform: uppercase;	
}
.menu-nav ul li a:hover {
	opacity: .7;
}
.menu-nav ul li a {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #202C39;
}
.menu-nav ul .active a {
	color: var(--debbie);
}
/* .menu-nav ul li:nth-child(2) {
	order: -1;
	margin-right: auto;
}

.site-header--index .menu-nav ul li:nth-child(2),
.menu-nav.is-open ul li:nth-child(2) {
	display: none;
}

@media (width <= 1199px) {
	.site-header:not(.site-header--index) .menu-nav:not(.is-open) ul li:nth-child(2) {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
} */
.menu-nav ul li:last-child {
	position: relative;
	width: 40px;
	height: 40px;
}
.menu-nav ul li:last-child svg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	display: block;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	overflow: visible;
	pointer-events: none;
}
.menu-nav ul li:last-child path {
	-webkit-transition: fill .3s;
	transition: fill .3s;
}
.menu-nav ul li:last-child:hover path {
	fill: var(--debbie);
}
.search-form {
	position: absolute;
	top: 0;
	right: 0;
}
.search-field {
	position: relative;
	z-index: 3;
	width: 40px;
	height: 40px;
	margin: 0;
	font-weight: bold;
	font-size: 0px;
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	color: transparent;
	border: 0;
	-webkit-transition: width 0.3s, background 0.3s;
	transition: width 0.3s, background 0.3s;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
}
.search-field:focus,
.search-submit:active ~ .search-field {
	z-index: 1;
	width: 400px;
	font-size: 14px;
	color: #202C39;
	background-color: #f5f5f5;
	border: 0;
	-webkit-transition: width 0.3s, background 0.3s;
	transition: width 0.3s, background 0.3s;
	cursor: text;
	outline: 0;
	padding-right: 55px;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 40px;
	height: 40px;
	opacity: 0;
	cursor: pointer;
}
.site-header a svg {
	-webkit-transition: -webkit-transform .3s ease-out;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: scale(1);
	        transform: scale(1);
	overflow: visible;
}
.site-header a:hover svg {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}
.site-header a .mdgLogoGroup {
	-webkit-transition: -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: transform .5s cubic-bezier(var(--elasticMove));
	transition: transform .5s cubic-bezier(var(--elasticMove)), -webkit-transform .5s cubic-bezier(var(--elasticMove));
	-webkit-transform-origin: 22px 22px;
	        transform-origin: 22px 22px;
}
.site-header a:hover .mdgLogoGroup {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.all-sites {
	position: fixed;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #FFF;
	-webkit-transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s;
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	border-top: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateY(100%);
	        transform: translateY(100%);
}
.all-sites.active {
	z-index: 10;
	visibility: visible;
	pointer-events: all;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}
.all-sites ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.all-sites ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.text-block a {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	font-family: "Open Sans";
	color: #E9AC5C;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.text-block a:hover {
	border-bottom-color: currentColor;
}
.text-block h2 a {
	font-size: 18px;
	line-height: 27px;
}
.text-block picture,
.text-block img {
	display: block;
	height: auto;
	border-radius: 6px;
	overflow: hidden;
	-webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .2);
	margin-top: 40px;
	margin-bottom: 60px;
	max-width: 100%;
}
.text-block p,
.text-block li {
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	font-family: "Open Sans";
	color: #202C39;
}
.text-block p a,
.text-block li a {
	font-size: 14px;
	line-height: 23px;
	margin-right: 5px;	
}
.index-banner {
	width: 100%;
	height: 540px;
	overflow: hidden;
}
.index-banner__img {
	position: relative;
}
.index-banner__img::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .1);
	content: "";
}
.index-banner__img picture,
.index-banner__img img {
	position: relative;
	display: block;
	width: 100%;
	height:100%;
	height: 540px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.index-banner__text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.index-banner__text h1 {
	display: block;
	margin: 0 auto 30px;
	font-weight: bold;
	font-size: 64px;
	line-height: 70px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	max-width: 570px;
	text-transform: uppercase;
}
.index-banner__text a {
	height: 60px;
	font-weight: 600;
	font-size: 20px;
	line-height: 60px;
	font-family: "Open Sans";
	text-align: center;
	color: var(--debbie);
	background-color: #FFFFFF;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .08);	
}
.index-banner__text a:hover {
	color: var(--white);
	background-color: var(--debbie);
}
.index-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 220px;
	background-color: #FFF;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-tabs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.index-tabs ul li {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.index-tabs ul li:hover {
	opacity: 0.7;
}
.index-about {
	width: 100%;
	background-color: #FFF;
	padding-top: 90px;
}
.index-about__text h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;	
	margin-top: 0;
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.underlined-heading {
	position: relative;
}
.underlined-heading::after {
	position: absolute;
	bottom: 0;
	left: calc(50% - 40px);
	display: block;
	width: 80px;
	height: 4px;
	background-color: var(--debbie);
	border-radius: 40px;
	content: "";
}
.index-about__text p {
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	margin-bottom: 30px;
}
.index-about__photo {
	position: relative;
	padding-top: 30px;
}
.index-about__photo::before,
.index-about__photo::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--debbie);
	content: "";	
}
.index-about__photo::before {
	-webkit-clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0% 100%);
}
.index-about__photo::after {
	opacity: 0.25;
	-webkit-clip-path: polygon(0 50%, 100% 25%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 50%, 100% 25%, 100% 100%, 0% 100%);
}
.index-about__photo .container {
	position: relative;
	z-index: 1;
}
.index-about__photo-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	overflow-x: hidden;
	min-height: 400px;
}
.index-about__photo picture,
.index-about__photo img {
	display: block;
}
.index-giftcards {
	position: relative;
	width: 100%;
	background-color: #FFF;
	padding-top: 90px;
	padding-bottom: 130px;
}
.index-giftcards::before,
.index-giftcards::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #E5F3F8;
	content: "";
}
.index-giftcards::before {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}
.index-giftcards::after {
	opacity: 0.4;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
.index-giftcards .container {
	position: relative;
	z-index: 1;
}
.index-giftcards h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 25px;
}
.index-giftcards p {
	font-size: 18px;
	line-height: 30px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	margin-top: 0;
	margin-bottom: 25px;
}
.index-giftcards a {
	margin-bottom: 90px;
}
.index-contact {
	padding-top: 40px;
	margin-bottom: 40px;
}
.index-contact h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;	
	margin-top: 0;
	margin-bottom: 20px;
}
.contact-form__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 750px;
	padding: 0;
	max-width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.form-half-line {
	-ms-flex-preferred-size: calc(50% - 15px);
	    flex-basis: calc(50% - 15px);
	max-width: calc(50% - 15px);
}
.form-half-line:not(:first-child) {
	margin-left: auto;
}
.form-line {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	max-width: 100%;
}
.form-input,
.form-textarea {
	width: 100%;
	height: 50px;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	color: #A5A7A9;
	background-color: #F7F9FC;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-textarea {
	height: 150px;
	resize: vertical;
}
.contacts-form__btn {
	display: block;
	width: 190px;
	height: 50px;
	margin: 20px auto 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	text-align: center;
	color: var(--white);
	background-color: var(--debbie);
	border: 1px solid var(--debbie);
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	cursor: pointer;
	text-transform: uppercase;
	outline-color: transparent;
}
.contacts-form__btn:hover {
	color: var(--debbie);
	background-color: var(--white);
}
.index-contact .wpcf7-response-output {
	width: 450px;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateY(-50px);
	        transform: translateY(-50px);
	max-width: 100%;
}
.index-contact .wpcf7-not-valid-tip {
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;	
}
.latest-blog-posts {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.latest-blog-posts__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 60px;
	justify-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.latest-blog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 340px;
	text-align: center;
	grid-column-end: span 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: left;
	    -ms-flex-align: left;
	        align-items: left;
	margin-bottom: 50px;
	max-width: calc(100vw - 20px);
}
.latest-blog-item a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.latest-blog-item a:hover {
	opacity: 0.7;
}
.latest-blog-item__img {
	margin-bottom: 20px;
}
.latest-blog-item__img img {
	height: auto;
	border-radius: 4px;
	max-width: 100%;
}
.latest-blog-item span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--green);
	margin-bottom: 14px;
}
.latest-blog-item h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--black);
	margin-bottom: 14px;
	margin-top: 0;
}
.latest-blog-item p {
	font-size: 13px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
	margin-bottom: 0;
	margin-top: 0;
}
.subscribe {
	width: 100%;
	background: linear-gradient(225deg, #E6F3F8 0%, #C9E3EF 100%);
}
.subscribe__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.subscribe h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 30px;
	margin-bottom: 30px;
}
.subscribe p {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	margin-bottom: 20px;
}
.subscribe form,
div.wpcf7 {
	position: relative;
	width: 555px;
	max-width: 100%;
}
.subscribe .subscribe__email {
	width: 100%;
	height: 58px;
	padding: 18px 158px 18px 28px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 100px;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	outline-color: transparent;
}
.subscribe .subscribe__email:focus {
	border-color: var(--green);
}
.subscribe .subscribe__submit {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 130px;
	height: 46px;
	font-weight: 600;
	font-size: 14px;
	line-height: 44px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--white);
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	outline-color: transparent;
	cursor: pointer;
}
.subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: #FFF;
}
.subscribe .wpcf7-response-output {
	width: 450px;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateY(-50px);
	        transform: translateY(-50px);
	max-width: 100%;
}
.subscribe .wpcf7-not-valid-tip {
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 30px;	
}
.btn {
	display: block;
	width: 190px;
	height: 50px;
	padding: 0;
	font-size: 14px;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
	margin-left: auto;
	margin-right: auto;	
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);	
	        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);
	text-transform: uppercase;
	margin-top: 30px;
}
.btn--debbie {
	width: 180px;
	color: var(--white);
	background-color: var(--debbie);
	border: 1px solid var(--debbie);
}
.btn--debbie:hover,
.btn--debbie:active {
	color: var(--debbie);
	background-color: var(--white);	
}
.btn--white {
	width: 180px;
	width: 220px;
	height: 60px;
	font-weight: bold;
	font-size: 16px;
	line-height: 60px;
	color: var(--debbie);
	background-color: var(--white);
	border: none;
	text-transform: capitalize;
}
.btn--white:hover,
.btn--white:active {
	color: var(--white);
	background-color: var(--debbie);
}
.about-content {
	width: 100%;
	padding-top: 85px;
	padding-bottom: 100px;
}
.about-content h1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: "Open Sans";
	color: #202C39;
	margin-top: 0;
}
.about-content p {
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	color: #9DA0A4;
	margin-bottom: 30px;	
}
.about-content .index-about__photo {
	margin-top: -50px;
}
.index-tabs--blog {
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blog-title__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.blog-title h1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 0;
}
.blog-title__category-btn {
	display: block;
	width: 160px;
	height: 30px;
	background-color: transparent;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline-color: transparent;
}
.blog-title__category-btn span {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
}
.blog-title__category-btn svg {
	display: inline-block;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(90deg) scaleX(1);
	        transform: rotate(90deg) scaleX(1);
	margin-left: 10px;
}
.blog-title__category-btn.collapsed svg {
	-webkit-transform: rotate(90deg) scaleX(-1);
	        transform: rotate(90deg) scaleX(-1);
}
.blog-title__category-btn path {
	fill: var(--gray);
}
.blog-title .collapse {
	display: none;
}
.blog-title .collapse.in {
	z-index: 1;
	display: block;
}
.blog-title .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	        transition-duration: .35s;
	-webkit-transition-property: height,visibility;
	transition-property: height,visibility;
}
.blog-title__category-dropdown ul {
	display: block;
	width: 160px;
	margin: 0 auto;
	padding: 15px 10px;
	background-color: #FFFFFF;
	list-style: none;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
}
.blog-title__category-dropdown li:not(:last-child) {
	margin-bottom: 15px;
}
.blog-title__category-dropdown li a {
	display: inline-block;
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}
.blog-title__category-dropdown li:hover a,
.blog-title__category-dropdown li.active a {
	color: var(--black);
}
.blog-items .btn {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
.article-img {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 80px;
}
.article-img__wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.article-img picture,
.article-img img {
	display: block;
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.article-img__title {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.article-img__title h1  {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}
.article-img__title p  {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
}
.article-img--without-img .article-img__wrapper {
	height: auto;
}
.article-img--without-img .article-img__title {
	position: static;
	padding-top: 0;
	padding-bottom: 0;
}
.article-img--without-img .article-img__title h1 {
	color: #202C39;
}
.article-img--without-img .article-img__title p {
	color: #A5A7A9;
}
.article-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 990px;
	margin: 0 auto;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	max-width: 100%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.article-content__main {
	-ms-flex-preferred-size: 670px;
	    flex-basis: 670px;
	max-width: 670px;
}
.article-content__sidebar {
	-ms-flex-preferred-size: 270px;
	    flex-basis: 270px;
	max-width: 270px;
}
.article-content__main p,
.article-content__main li {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}
.article-content__main img {
	display: block;
	margin: 40px auto 10px;
	max-width: 100%;
}
.article-content__main small {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	margin-bottom: 30px;
}
blockquote {
	position: relative;
	padding: 0 0 0 60px;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 40px;
	margin-bottom: 40px;
	border-left: none;
}
blockquote::before {
	position: absolute;
	top: 25px;
	left: 0;
	font-style: italic;
	font-size: 100px;
	color: var(--gray);
	content: "”";
}
.sidebar-subscribe form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.sidebar-subscribe .subscribe__email {
	width: 270px;
	height: 50px;
	padding: 18px;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: #A5A7A9;
	background-color: #F7F9FC;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	max-width: 100%;
	margin-bottom: 25px;
}
.sidebar-subscribe .subscribe__submit {
	width: 270px;
	height: 50px;
	padding: 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--white);
	background-color: var(--green);
	border: 1px solid var(--green);	
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
	max-width: 100%;
	margin-bottom: 50px;
	cursor: pointer;
	outline-color: transparent;
}
.sidebar-subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: var(--white);
}
.sidebar-share p {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
}
.sidebar-share__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sidebar-share a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.sidebar-share a:hover {
	opacity: 0.7;
}
.sidebar-subscribe .wpcf7-response-output {
	position: absolute;
	bottom: 0;
	width: 270px;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.sidebar-subscribe .wpcf7-not-valid-tip {
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;	
}
.sidebar-subscribe .ajax-loader {
	position: absolute;
	bottom: -3px;
	left: calc(50% - 8px);
}
.coming-soon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.coming-soon svg {
	display: block;
	overflow: visible;
}
@-webkit-keyframes comingAnimation {
	0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	30% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	100% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}
@keyframes comingAnimation {
	0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	30% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	100% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}
.coming-soon p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	opacity: 0.2;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	white-space: nowrap;
}
.coming-soon:hover p {
	opacity: 0.5;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    padding: 5px 3px 10px;
    text-align: center;
    border: 1px solid #f0f0f0;
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none;
    max-width: 98.5%;
}
.wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 4px 5px;
    font-size: 11px;
    line-height: 17px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
	overflow: hidden;
}
.screen-reader-text:focus {
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar. */
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	font-weight: bold;
	font-size: 14px;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: normal;
	color: #21759b;
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto !important;
	text-decoration: none;
}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.menu-button {
		display: none;
	}
	.all-sites ul li a {
		display: block;
		-webkit-transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71), -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		will-change: transform;
		-webkit-transform: translateY(0);
		        transform: translateY(0); 
	}

	.all-sites ul li a:hover {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	.coming-soon:hover svg {
		-webkit-animation: comingAnimation 1s cubic-bezier(var(--elasticMove)) infinite forwards;
		        animation: comingAnimation 1s cubic-bezier(var(--elasticMove)) infinite forwards;
	}}
@media (max-width: 1199px) {
	.site-footer .brand-logo {
		text-align: center;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-top: 40px;
	}
	.site-header {
		min-height: 80px;
	}

	.is-fixed.site-header {
		display: none !important;
	}
	.site-footer .menu-nav {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		padding-right: 0;
	}

	.site-footer .menu-nav ul {
		height: auto;
	}

	.site-footer .menu-nav ul li {
		display: block;
	}

	.site-footer .menu-nav ul li:first-child {margin-left: auto;}
	.site-footer .menu-nav ul li:nth-last-child(2) {margin-right: auto;}

	.site-footer .menu-nav ul li:last-child {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-top: 40px;
	}

	.site-footer .menu-nav ul li a {
		font-size: 12px;
	}
	.menu-button {
		display: block;
		width: 100%;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}

	.is-open + .menu-button {
		background-color: rgba(255, 255, 255, .95);
		border-bottom: 1px solid #E8E8E8;
		min-height: 80px;
	}

	.menu-button__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 32px;
		height: 42px;
		margin: 18px 40px 18px auto;
		padding: 0;
		border: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		cursor: pointer;
	}

	.is-open + .menu-button .menu-button__wrapper {
		position: absolute;
		top: 0;
		right: 0;
	}

	.is-closed .menu-button__wrapper {
		margin: 8px 0 8px auto;
	}

	.menu-button__wrapper span {
		display: block;
		width: 32px;
		height: 3px;
		background-color: #19BACC;
		opacity: 1;
		-webkit-transition: opacity .3s, -webkit-transform .3s;
		transition: opacity .3s, -webkit-transform .3s;
		transition: transform .3s, opacity .3s;
		transition: transform .3s, opacity .3s, -webkit-transform .3s;
		will-change: opacity, transform;
	}

	.menu-button__wrapper:hover span {
		opacity: 0.7;
	}

	.menu-button.is-closed .menu-button__wrapper span {
		-webkit-transform-origin: center center;
		        transform-origin: center center;
		-webkit-transform: translate(0,0) rotate(0);
		        transform: translate(0,0) rotate(0);
	}

	.menu-button__wrapper span + span {
		margin-top: 7px;
	}
	.menu-nav {
		-ms-flex-preferred-size: calc(100% - 22px);
		    flex-basis: calc(100% - 22px);
		max-width: calc(100% - 22px);
		padding-right: 40px;
	}

	.menu-nav ul li {
		display: none;
	}

	.is-open .menu-nav {
		position: static;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .95);
		-webkit-transition: background-color .5s;
		transition: background-color .5s;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		padding-right: 0;		
	}

	.is-open .menu-nav ul {
		width: 100%;
		height: auto;
		min-height: calc(100vh - 21px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-top: 80px;
		padding-bottom: 20px;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.is-open .menu-nav ul li {
		width: 100%;
		text-align: center;
	}

	.is-open .menu-nav ul li a {
		color: #202C39;
		-webkit-transition: color .3s;
		transition: color .3s;
	}

	.is-open .menu-nav ul li a:hover,
	.is-open .menu-nav ul .current_page_item a	 {
		color: var(--debbie);
		opacity: 1;
	}

	.is-open .brand-logo {
		position: fixed;
		top: 16px;
		left: 40px;
		z-index: 1;
		width: 150px;
		text-align: left;
	}

	.is-open .menu-nav ul li {
		display: block;
		margin-top: 24px;
	}

	.is-open .menu-nav ul li a {
		font-size: 32px;
		line-height: 1;
	}
	.search-form {
		right: calc(50% - 145px);
	}

	.search-field {
		z-index: 1;
		width: 290px;
		font-size: 14px;
		color: #202C39;
		background-color: #f5f5f5;
		border: 0;
		-webkit-transition: width 0.3s, background 0.3s;
		transition: width 0.3s, background 0.3s;
		cursor: text;
		outline: 0;
		padding-right: 55px;
		max-width: 290px;
	}

	.menu-nav ul li:last-child svg {
		left: 50%;
		-webkit-transform: translate(110px,-50%);
		        transform: translate(110px,-50%);
	}
	.index-tabs {
		height: 160px;
	}

	.index-tabs ul li {
		margin: 10px;
		-ms-flex-preferred-size: 81px;
		    flex-basis: 81px;
		max-width: 81px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(2, 340px);
		grid-gap: 30px;
	}
	.latest-blog-item:nth-child(3) {
		display: none;
	}}
@media (max-width: 991px) {
	.site-header .container {
		max-width: none;
	}

	.menu {
		padding-left: 40px;
		padding-right: 40px;
	}
	.site-footer .menu-nav ul li {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}

	.site-footer .menu-nav ul li:last-child {
		margin-top: 0;
	}
	.is-open + .menu-button .menu-button__wrapper {
		position: static;
	}
	.index-tabs--blog {
		margin-bottom: 30px;
	}
	.article-content__main,
	.article-content__sidebar {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.article-content__sidebar {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.article-content__main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.article-content__main small {
		text-align: center;
	}
	.sidebar-subscribe form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.sidebar-subscribe .subscribe__email,
	.sidebar-subscribe .subscribe__submit,
	.sidebar-share a {
		margin-left: 10px;
		margin-right: 10px;
	}

	.sidebar-share__wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 40px;
	}}
@media (max-width: 767px) {
	.is-open .menu-nav ul li {
		margin-top: 15px;
	}
	.is-open .menu-nav ul li a {
		font-size: 24px;
	}
	.all-sites {
		height: 70px;
	}

	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.index-banner__text h1 {
		font-size: 45px;
		line-height: 1;
	}
	.index-tabs {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.index-tabs ul {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.index-about__text {
		padding-left: 15px;
		padding-right: 15px;
	}

	.index-about__text h2 {
		font-size: 24px;
		line-height: 32px;
	}

	.index-about__text p {
		font-size: 14px;
		line-height: 26px;
	}
	.index-giftcards::before {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
		        clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
	}

	.index-giftcards::after {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
		        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	}

	.index-giftcards .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.index-giftcards a {
		margin-bottom: 50px;
	}
	.index-contact .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 340px);
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.subscribe__wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-content > .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.index-tabs--blog {
		padding-bottom: 40px;
	}

	.blog-title h1,
	.blog-title__category {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.blog-title__category-btn {
		margin-left: auto;
		margin-right: auto;
	}
	.article-img__title {
		padding: 30px 10px;
	}

	.article-img__title h1 {
		font-size: 24px;
		line-height: 33px;
	}

	.article-img__title p {
		font-size: 18px;
		line-height: 24px;
	}}
@media (max-width: 641px) {}
@media (max-width: 479px) {
	.menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-button__wrapper {
		margin-right: 15px;
	}
	.menu-nav {
		padding-right: 0;
	}

	.is-open .brand-logo {
		left: 15px;
	}
	.index-banner__text h1 {
		font-size: 36px;
		line-height: 1;
		max-width: 260px;
	}
	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
.index-about__photo-wrapper {
	min-height: 350px;
}

.index-about__photo::before {
	-webkit-clip-path: polygon(0 55%, 100% 35%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 55%, 100% 35%, 100% 100%, 0% 100%);
}

.index-about__photo::after {
	-webkit-clip-path: polygon(0 35%, 100% 25%, 100% 100%, 0% 100%);
	        clip-path: polygon(0 35%, 100% 25%, 100% 100%, 0% 100%);
}
	.index-giftcards {
		padding-top: 70px;
	}

	.index-giftcards::before {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 90%);
		        clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 90%);
	}

	.index-giftcards h2 {
		font-size: 24px;
		line-height: 33px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.subscribe__wrapper {
		min-height: 440px;
	}

	.subscribe h2 {
		font-size: 20px;
		line-height: 27px;
	}

	.subscribe p {
		font-size: 14px;
		line-height: 26px;
	}

	.subscribe .subscribe__email {
		text-align: center;
		padding-right: 28px;
	}

	.subscribe .subscribe__submit {
		position: static;
		display: block;
		margin: 20px auto;
	}
	.coming-soon p {
		font-size: 36px;
		line-height: 48px;
	}}

/*# sourceMappingURL=styles.css.map */
