/*
Theme Name: MDG
Theme URI: https://www.smartnextstudio.com/
Version: 1.0.0
Author: smartnextstudio
Author URI: https://www.smartnextstudio.com/
License: GNU General Public License
Text Domain: mdg
*/

.logged-in .site-header {
    top: 32px;
}

.menu-nav .current-menu-item a {
    color: #19BACC;
}

.article-img__wrapper.article-img--without-img {
    height: auto;
}

.subscribe form, div.wpcf7 {
    width: auto;
}

.index-banner__text a {
    font-size: 19px;
}

.blog-title__wrapper.search-title__wrapper {
    padding-top: 30px;
}

.no-posts-block p,
.no-posts-block li {
    font-size: 14px;
}